#filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#filters>div>button {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #F3F3F4;
  text-transform: uppercase;
}

/* time filters */

#timeFilters button {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #728594;
  background: transparent;
  margin-right: 10px;
  transition: background-color 300ms ease-out;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* context filters */

#contextFilters button {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #728594;
  background: transparent;
  margin-right: 10px;
  transition: background-color 300ms ease-out;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* other filters */
.otherFilters {
  border: 1px solid #728594;
  border-radius: 5px;
  overflow: hidden;
  /* Para que los bordes redondeados del contenedor se apliquen a los botones */
}

.otherFilters button {
  background-color: transparent;
  transition: background-color 300ms ease-out;
  border: none;
  padding: 0px 16px;
  cursor: pointer;
  float: left;
  height: 22px;
  line-height: 22px;
  /* Para centrar verticalmente el texto */
}

/* Clear floats (clearfix hack) */
.otherFilters:after {
  content: "";
  clear: both;
  display: table;
}

#filters>div>button:hover,
#filters>div>button.active {
  background-color: #17A2B8;
  border: 1px solid #17A2B8;
}