body {
    background-color: #FFFFFF;
}

.button-bar {
    display: none;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: -3px;
    margin-top: 16px;
}

.positive{
    color: #0EA05D;
}

.negative{
    color: #FF0000;
}

.button-group {
    display: flex;
}

.left-group {
    border-radius: 11px 11px 0px 0px;
    padding: 3px;
    align-self: stretch;
}

.center-group {
    position: absolute;
    left: 39%;
    transform: translateX(-50%);
    padding: 3px;
    align-self: stretch;
}

.right-group {
    padding: 3px 0px;
    align-self: stretch;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
}

.btn.left {
    background-color: #F5F7FF;
}

.btn.center {
    background-color: #F5F7FF;
}

.btn.right {
    background-color: #F5F7FF;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn.left.active,
.btn.center.active {
    background-color: #000;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #000;
    color: #FFFFFF;
}

.button-group .btn:last-child {
    margin-right: 0;
}

#new-outlook {
    border: none;
    display: flex;
    align-items: center;
}

#new-outlook span {
    margin-right: 35px;
    position: relative;
}

#new-outlook span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #17A2B8;
    transition: width 0.3s ease;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    75% {
        transform: translateX(-2px);
    }
}

#new-outlook:hover span::after {
    width: 100%;
    animation: shake 0.5s ease;
}

#new-outlook img {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

#new-outlook:hover img {
    transform: translateY(-50%) rotate(360deg);
}

#new-outlook:hover {
    background-color: transparent;
}

.filter-icon {
    margin-right: 5px;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-value {
    color: #474F57;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.main-currency {
    color: #474F57;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 8px;
    margin-right: 8px;
}

.main-variation {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 8px;
}

.text-date-variation{
    color: #8C96A1;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}